.board{
    display: flex;
    gap: 30px;
    flex-wrap: nowrap;
    justify-content: center;
}

.cards-container{
    margin-top: 26.26px;
    width: 273.967px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.board-top, .board-top .left, .board-top .right{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.board-top .left, .board-top .right{
    gap: 11.5px;
}

@media (max-width: 1360px) {
    .board {
        flex-wrap: wrap;       /* Enable wrapping */
    }
}

