.card{
    background-color: white;
    border-radius: var(--border-rad);
    border: 0.525px solid var(--border-gray, #ECEFF2);
    box-shadow: 0px 0px 8.403px 2.101px rgba(180, 182, 174, 0.20);
    padding-left: 15.755px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5.252px;
    position: relative;
    height: 90px;
    justify-content: center;
}

.card .cam{
    width: fit-content;
    display: flex;
}


.card .desc-box{
    display: flex;
    align-items: flex-start;
    gap: 5.25px;
}

.card .desc-box .status-icon{
    width: 13.992px;
    height: auto;
    padding-top: 0.8px;
    object-fit: contain;
}

.card .desc-box .text{
    max-width: 205px;
    max-height: 25.6px;
    overflow: hidden;                 /* Hide overflowed content */
    display: -webkit-box;             /* Set for multi-line ellipsis */
    -webkit-line-clamp: 2;            /* Show a maximum of 2 lines */
    -webkit-box-orient: vertical;     /* Vertical layout for line clamp */
    text-overflow: ellipsis;  

}

.card .bottom{
    display: flex;
    width: fit-content;
    align-items: center;
    gap: 5.25px;
}

.card .bottom .box{
    display: flex;
    align-items: center;
    padding: 3.424px 4.051px;
    border-radius: var(--border-rad);
    border: 0.525px solid var(--border-gray, #ECEFF2);
}

.bottom .box .icon{
    width: 11.8px;
    height: auto;
    object-fit: fit;
}

.bottom .box p{
    margin-left: 2.57px;
    font-size: 9.418px;
    color: var(--light-text-gray);
}

.bottom .box .gray-circle{
    height: 10.503px;
}

.card .card-profile{
    position: absolute;
    top: 11.44px;
    right: 12.52px;
}

