.card{
    background-color: white;
    border-radius: var(--border-rad);
    border: 0.525px solid var(--border-gray, #ECEFF2);
    box-shadow: 0px 0px 8.403px 2.101px rgba(180, 182, 174, 0.20);
    padding: 8.403px 15.755px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5.252px;
    position: relative;
}

.card .cam{
    width: fit-content;
    display: flex;
}


.card .desc-box{
    display: flex;
    align-items: flex-start;
    gap: 5.25px;
}

.card .desc-box .status-icon{
    width: 13.992px;
    height: auto;
    padding-top: 2.5px;
    object-fit: contain;
}

.card .desc-box .text{
    max-width: 205px;

}

.card .bottom{
    display: flex;
    width: fit-content;
    align-items: center;
    gap: 5.25px;
}

.card .bottom .box{
    display: flex;
    align-items: center;
    padding: 4.5px 7px;
    height: 18.835px;
    border-radius: var(--border-rad);
    border: 0.525px solid var(--border-gray, #ECEFF2);
}

.bottom .box .icon{
    width: 14.705px;
    height: auto;
    object-fit: fit;
}

.bottom .box p{
    margin-left: 2.57px;
    font-size: 9.418px;
    color: var(--light-text-gray);
}

.bottom .box .gray-circle{
    height: 10.503px;
}

.card .card-profile{
    position: absolute;
    top: 11.44px;
    right: 12.52px;
}

