.navbar{
    padding: 12px 32.61px;
    height: 40px;
    background-color: white;
    display: flex;
    align-items: center;
}

.navbar .dropdown-cont{
    position: relative;
}

.navbar .option-box{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3.8px;
    height: 20.548px;
    padding: 4.204px 8.403px 4.199px 8.402px;
    border-radius: 5.252px;
    border: 1.05px solid var(--border-gray, #ECEFF2);
    box-shadow: 0px 0px 8.891px 2.223px rgba(180, 182, 174, 0.20);
    width: fit-content;
    cursor: pointer;
}


.navbar .icon, .dropdown{
    height: 15.755px;
    width: auto;
}

.option-box-open{
    position: absolute;
    bottom: -105px;
    left: 0px;
    display: flex;
    width: 236.385px;
    padding: 9.963px 16.302px;
    flex-direction: column;
    align-items: center;
    gap: 7.246px;
    border-radius: var(--border-rad);
    background-color: white;
    box-shadow: 0px 0px 8.891px 2.223px rgba(180, 182, 174, 0.20);
    z-index: 999;
}

.option-box-open .optns{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.optns p{
    color: #8B8B8C;
}

.select-box p{
    color: #3C4149;
}
.optns .select-box{
    cursor: pointer;
    display: flex;
    width: 96.688px;
    height: 16.67px;
    justify-content: space-between;
    align-items: center;
    padding: 5.557px 7.78px 4.445px 8.891px;
    border-radius: var(--border-rad);
    border: 1.051px solid var(--border-gray, #ECEFF2);
}

.select-dropdown-cont{
    position: relative;

}

.select-dropdown-cont .dropdown-options{
    margin-top: 5px;
    position: absolute;
    left: 0px;
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 2px;
    border-radius: var(--border-rad);
    border: 1.051px solid var(--border-gray, #ECEFF2);
    z-index: 1000;
}

.select-dropdown-cont .dropdown-options p{
    cursor: pointer;
    color: #3C4149;
    height: 16.67px;
    display: flex;
    border-radius: var(--border-rad);
    align-items: center;
    padding: 5.557px 7.78px 4.445px 8.891px;
}

.select-dropdown-cont .dropdown-options p:hover{
    background-color: #dbeafe;
}