:root {
  --primary-text-black: #282A2F;
  --bg-color: #F4F5F8;
  --primary-text-size:11px;
  --primary-text-weight:500;
  --primary-text-letter-spacing:0.2px;
  --light-text-gray:#6B6F76;
  --light-text-size:10.274px;
  --light-text-weight:400;
  --light-text-spacing:0.205px;
  --border-gray: #ECEFF2;
  --border-rad: 4.281px;
}

*{
  font-family: Inter, sans-serif;
  font-size: var(--primary-text-size);
  font-weight : var(--primary-text-weight);
  letter-spacing: var(--primary-text-letter-spacing);
  color: var(--primary-text-black, #282A2F);
  margin: 0px;
  padding: 0px;
}



.app{
  width: 100%;
  height: 100vh;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.app .outer_cont{
  flex: 1;
  padding: 31.5px 32.61px 0 32.61px;
  overflow-x: auto;
  background-color: var(--bg-color);

}

.outer_cont .container{
  min-width: fit-content;
  display: flex;
  gap: 37.812px;
}


.board-top .left .number, .card .cam p, .card .cam .number{
  font-size: var(--light-text-size);
  color: var(--light-text-gray, #6B6F76);
  font-weight: var(--light-text-weight);
  letter-spacing: var(--light-text-spacing);
}


/* Animation */

@keyframes fadeIn {
  0% {
      opacity: 0;
      transform: translateY(20px); /* Optional: slight downward start */
  }
  100% {
      opacity: 1;
      transform: translateY(0); /* End at original position */
  }
}

.card {
  opacity: 0; /* Ensure cards start hidden */
  animation: fadeIn 0.5s ease forwards; /* Set animation to move to final state */
}

@keyframes popIn {
  0% {
      transform: scale(0.8);   /* Start from scale 0 (invisible) */
      opacity: 0;            /* Fully transparent */
  }
  100% {
      transform: scale(1);   /* Scale to full size */
      opacity: 1;            /* Fully opaque */
  }
}



.pop-in {
  animation: popIn 0.6s ease forwards; /* Adjust duration and easing as needed */
}

